####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
resolveAllDependencies=false
archiveExtractionDepth=3
followSymbolicLinks=true
html.resolveDependencies=true
maven.resolveDependencies=false
npm.resolveDependencies=true
npm.runPreStep=true
wss.url=https://saas.whitesourcesoftware.com/agent
#------------------------------------------------------------------------
updateEmptyProject=false
projectPerFolder=false
#-- Always excluded
projectPerFolderExcludes=.vscode docs jar
projectName=domino-keep-admin-ui
productName=HCL Labs Project KEEP
#projectTag=HCLLabs
#---------------- File name patterns to search ----------------
includes=**/*.cpp **/*.java **/*.c **/*.dll **/*.h **/*.js **/*.ts **/*.tsx **/*.jar

###########
# General #
###########
scanComment=Scan on github opensource site

# Archives
archiveExtractionDepth=3

#---- MAVEN SPECIFIC -------
maven.ignoredScopes=test provided system
excludes=**/*sources.jar **/*javadoc.jar **/*.log

#-- Docker stuff
docker.scanImages=false
docker.includes=.*projectkeep-r12.*
docker.pull.enable=true
docker.pull.images=.*.*
docker.pull.maxImages=10

#-- Log settings
#log.files.level=info
log.files.maxFileSize=200
log.files.path=whitesource

