:root {
    --sl-color-primary-50: #f4e9ff;
    --sl-color-primary-100: #e3c7ff;
    --sl-color-primary-200: #d1a3ff;
    --sl-color-primary-300: #bf7fff;
    --sl-color-primary-400: #ae5bff;
    --sl-color-primary-500: #8c00e6;
    --sl-color-primary-600: #5F1EBE;
    --sl-color-primary-700: #7a00cc;
    --sl-color-primary-800: #6800b3;
    --sl-color-primary-900: #560099;
    --sl-color-primary-950: #440080;
}